# Streamlit secrets
.streamlit/secrets.toml

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Logo / images you don't want on GitHub
logo.jpg
logo.png

# Mac system files
.DS_Store

# Excel output files
CO_Attainment.xlsx