# Streamlit secrets (MongoDB URI etc.)
.streamlit/secrets.toml

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Generated Excel output
CO_Attainment.xlsx