/* Background */
body {
    background-color: #0E1117;
}

/* Title */
h1 {
    text-align: center;
    color: #E5E7EB;
    font-size: 42px;
    margin-top: 30px;
}

/* Navbar buttons */
.stButton > button {
    width: 100%;
    background: linear-gradient(90deg,#2563eb,#4f46e5);
    color: white;
    border-radius: 10px;
    padding: 12px;
    border: none;
    font-size: 16px;
    white-space: nowrap; /* prevents text break */
}

/* Hover */
.stButton > button:hover {
    background: linear-gradient(90deg,#1d4ed8,#4338ca);
    transform: scale(1.05);
}

/* Inputs */
input {
    border-radius: 8px !important;
}

/* reduce top spacing */
.block-container {
    padding-top: 2rem;
}

/* Logo container */
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* Logo image */
.logo-img{
    width:220px;
}
/* Background image */
.stApp {
    background: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Blur layer */
.stApp::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

/* Content box */
.block-container {
    background: rgba(0,0,0,0.65);
    padding: 2rem;
    border-radius: 12px;
}

